@import 'src/CommonStyles/mixins';
@import 'src/CommonStyles/variables';

.treeContainer {
  width: 100%;
  height: 100%;
  @include flex($dir: column, $ali: center, $just: center);

  .tree {
    width: 100%;
    height: 100%;
    @include flex($ali: center, $just: flex-start);

    .arrowSvg {
      width: 30px;
      height: 30px;

      &.activeSvg {
        transform: rotate(-85deg)
      };
    }

    .addNodeButton {
      border: none;
      background: none;
      @include flex($ali: center, $just: center);

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
